@if (showOverlay()) {
<div class="fixed inset-0 bg-black/30 backdrop-blur-sm z-40 transition-opacity duration-300"
  (click)="_sidebarService.toggle()">
</div>
}

<aside class="fixed top-0 left-0 z-40 h-full w-64 bg-surface-950 transition-transform duration-300 ease-out border-r border-surface-500/40" 
  [class.translate-x-0]="_sidebarService.isOpen()" [class.-translate-x-full]="!_sidebarService.isOpen()">
  <div class="pt-18">
    <div class="px-4 py-3 border-b border-surface-500/40">
      <h2 class="text-sm font-bold text-primary-500 uppercase tracking-wider">Menú</h2>
    </div>
    <app-sidebar-item></app-sidebar-item>
  </div>
</aside>