<header
  class="fixed top-0 left-0 right-0 z-50 bg-surface-950 shadow-lg backdrop-blur-md border-b border-surface-500/40">
  <div class="flex items-center justify-between mx-auto px-4 sm:px-6 py-3">
    <!-- Logo y título -->
    <div class="flex items-center gap-3 sm:gap-4">
      <!-- Botón hamburguesa -->
      <p-button [icon]="_sidebarService.isOpen() ? 'pi pi-times' : 'pi pi-bars'" (click)="_sidebarService.toggle()"
        [text]="true" [rounded]="true" severity="secondary"
        class="text-primary-500! hover:text-primary-400!"></p-button>

      <img src="logo_main.svg" alt="Logo" class="h-8 w-auto hover:opacity-80 transition-opacity" />
      <h1 class="hidden sm:block text-lg sm:text-2xl font-bold text-white tracking-wide">
        Nuevo
        <span class="text-primary-500 font-black">
          Amanecer
        </span>
      </h1>
    </div>

    <!-- Menú derecho -->
    <div class="flex items-center justify-end gap-3 sm:gap-4">
      
      <!-- Botón de notificaciones -->
      <div class="relative">
        <p-button [icon]="'pi pi-bell'" [text]="true" [rounded]="true" severity="secondary"
          class="text-primary-500 hover:text-primary-400 text-xl">
        </p-button>
        @if (unreadNotifications() > 0) {
        <span
          class="absolute -top-1 -right-1 bg-primary-500 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center border-2 border-surface-900">
          {{ unreadNotifications() }}
        </span>
        }
      </div>

      <!-- Separador -->
      <p-divider layout="vertical" class="h-8!"></p-divider>

      <!-- Perfil de usuario -->
      <div class="flex items-center gap-2 sm:gap-3">
        <p-avatar label="A" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle" />

        <div class="hidden md:flex flex-col justify-center">
          <p class="text-sm font-semibold text-white leading-none">{{ userName() }}</p>
          <p class="text-xs text-surface-400 leading-none">{{ userRole() }}</p>
        </div>
      </div>
    </div>
  </div>
</header>