/* You can add global styles to this file, and also import other style files */

/* @import "tailwindcss"; */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";



/* Scrollbar personalizado */
/*.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}*/

